--swiftversion 6
--enable acronyms
--disable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--disable docComments
--enable duplicateImports
--enable elseOnSameLine
--elseposition same-line
--guardelse same-line
--enable emptyBraces
--emptybraces no-space
--enable enumNamespaces
--enumnamespaces always
--enable extensionAccessControl
--extensionacl on-extension
--enable fileHeader
--header \n {file}\n\n Copyright © {created.year} Adam Cvikl\n
--enable genericExtensions
--enable headerFileName
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--indent 4
--tabwidth 4
--smarttabs true
--indentcase true
--ifdef indent
--indentstrings true
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--linebreaks lf
--enable markTypes
--marktypes always
--markextensions always
--enable modifierOrder
--enable numberFormatting
--enable opaqueGenericParameters
--disable organizeDeclarations
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--self insert
--enable redundantType
--redundanttype explicit
--enable redundantVoidReturnType
--closurevoid remove
--enable semicolons
--semicolons never
--enable sortDeclarations
--enable sortImports
--enable sortSwitchCases
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--commas always
--enable trailingSpace
--trimwhitespace always
--enable typeSugar
--shortoptionals always
--enable unusedArguments
--stripunusedargs always
--enable void
--enable wrap
--maxwidth 120
--enable wrapArguments
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--wrapreturntype if-multiline
--wrapconditions before-first
--wraptypealiases before-first
--wrapeffects if-multiline
--enable wrapAttributes
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line
--computedvarattrs same-line
--enable wrapConditionalBodies
--enable wrapEnumCases
--wrapenumcases with-values
--enable wrapMultilineStatementBraces
--enable wrapSingleLineComments
--disable wrapSwitchCases
--disable yodaConditions
